.endPopUp{
    text-align: end;
    margin: 10px 5px;
}
.endPopUp > ul {
    list-style: none;
    padding: 0;
    text-align: initial;
    padding-left: 15px;
    overflow-y: scroll;
    height: 100px;
}
.endPopUp > ul > li {
    border-bottom: #333 1px solid;
}
.topList {
    display: flex;
    padding-bottom: 10px;
    border-bottom: #ddd 1px solid;
}
.topList > label#titleList{
    margin-right: auto;
}
.topEnd {
    display: grid;
    border-bottom: #ddd 1px solid;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.topEnd > button{
    height: 40px;
    border: black solid 1px;
    font: normal normal bold 17px/30px Roboto;
}
.endList > button#ExcluirProj {
    margin-right: 33%;
    background-color: #ff0000ad;
}
.endList > button#modificarProj {
    margin-right: 35%;
    background-color: #005affad;
    width: 65px;
    
}
.endList > button#salvarProj {
    background-color: #24b513ad;
    
}
.endList > button {
    border: none;
    width: 60px;
    color: aliceblue;
    height: 30px;
}